manage-package-manager-versions=true
onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=unrs-resolver
